@import "variables";
@import "mixins";

.excel__formula {
    border-bottom: 1px solid $border-color;
    display: flex;
    .formula {
        font-size: 18px;
        font-style: italic;
        border-right: 1px solid $border-color;
        max-width: $formula-cell-width;
        min-width: $formula-cell-width;
        padding: 7px;
        padding-left: 12px;
    }
    .input {
        width: 100%;
        padding: 1px 4px;
        outline: none;
        color: #000;
    }
}